#sandbox {
	float: left;
	width: 55%;
}

body {
    font-family: 'Roboto', sans-serif;
}

#helpdiv {
	background-color: #F2F2F2;
	border: 1px #F8F8F8;
	border-radius: 2px;
	padding-left: 10px;
	width: 40%;
	height: 300px;
	float: right;
}

.code {
	font-family: monospace;
}

.intend1 {
	padding-left: 2em;
}

.example {
	text-emphasis-style: filled;
}