/* Any needed CSS directives... */
#panel, #adminPanel {
    top: 5vh;
    left: 60vw;
    max-width: 35%;
    position: absolute;
    z-index: 200;
    display: inherit;
    padding: 20px;
    background-color: #333333;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    resize: both;
    overflow: auto;
}

.code {
    font-family: "Consolas", "Ubuntu Mono", "Menlo","Monaco", monospace,"source-code-pro";
}

.intend1 {
    padding-left: 2em;
}

.intend2 {
    padding-left: 4em;
}

.example {
    text-emphasis-style: filled;
}

p {
    padding-bottom: 5px;
}

.close-handle::before {
    content: "\2715";
}

.close-handle {
    position: relative;
    float: right;
    margin: -20px -10px 0 0;
    padding: 5px 5px 5px 10px;
    cursor: pointer;
    color: #999;
    font-size: x-large;
}

.close-handle:hover {
    color: #fff;
}

a {
    color: powderblue;
}

.link {
    padding-top: 10px;
}